.photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	height: 25vmax;
}
body {
	font-size: 4vmin;
	font-family: 'Roboto Condensed', sans-serif;
	background: #303235;
}
h1 {
	color: white;
	text-align: center; 
}
.icon-bar {
	width: 90vmin;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}
.icon-bar a {
	float: left;	
	width: 24.5%;
	margin: 0.25%;
	text-align: center;
	padding: 10px 0;
	transition: all 0.3s ease;
	color: white;
	font-size: 4vmax;
}
.sc {
	background: #ff7700;
}
.ig {
	background-size: cover;
	
	/* credits: https://stackoverflow.com/a/37751377 */
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.fb {
	background: #3B5998;	
}
.gomoku {
	background: #555;
}
.gomoku_logo {
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 30%;
	width: 20%;
}