body {
	font-family: 'Roboto Serif';
	background: #303235;
	margin: 0 50vmin 50vmin 50vmin;
}

@media only screen and (max-width: 768px) {
	body {
		margin: 0 10vmin 50vmin 10vmin;
	}
}

/* Text body */

h1 {
	color: white;
}

h2 {
	color: white;
	font-size: 19px;
}

p {
	color: white;
}

li {
	color: white;
}

a:link {
	color: grey
}

a:visited {
	color: darkgray
}

/* Icon horizontal bar */
.nav {
	padding: 0px 0px 0px 0px;
}

.nav li {
	display: inline;
}

.nav a {
	padding: 5px;
	width: 10%;
	font-size: 35px;
}

.back {
	color: white;
}